html, body {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 40px;
}

.container {
  padding: 0 300px;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #f1f1f1;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  text-decoration: none;
  color: black;
  display: inline-block;
  padding: 10px 15px;
}

nav ul li.active {
  background-color: black;
}

nav ul li.active a {
  color: white;
}

body * {
  box-sizing: border-box;
}

.m-20 {
  margin: 20px;
}

.p-25 {
  padding: 25px;
}

.square {
  float: left;
  width: 100px;
  height: 100px;
  background-color: aqua;
  border: 2px solid blue;
}

.clear {
  clear: both;
}

.circle {
  float: left;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: aqua;
  border: 2px solid blue;
}

footer {
  background-color: #f1f1f1;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
}

footer p {
  margin: 0;
}
